/* This is CSS */







/* Body*/

body {

  font-family: Roboto, sans-serif;
  background-color: rgb(255, 255, 255);

  margin: 0;
  font-weight: 300;
  margin: 100 auto;
  /* centers content horizontally */


}


.main {
  background-color: #1F2937;

  height: 100vh;
  /* full viewport height */

}


/* Body*/










/* Header*/


.headermain{

 padding: 10px 60px;
  /* change width */
}


.header {

  display: flex;

  flex-direction: row;

  background-color: #1F2937;

  padding: 15px px;

  align-items: center;



}




.nav {

  display: flex;

  gap: 25px;

  margin-left: auto;

  background-color: ;



}


.nav a {

  display: flex;
  text-decoration: none;
  font-size: 14px;
  color: #E5E7EB;
  font-weight: 300;


}


.logo {

  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #E5E7EB;


}


/* Header End*/






/* Hero Banner*/

.herobanner {

  display: flex;


  padding: 40px 0px;
  /* spacing  */

  min-height: 400px;



}



.herotext {

  
  display: flex;
  flex-direction: column;
  width: 350px;

  justify-content: center;

  gap: 5px;

  column-gap: 0px;

color: white;



}


.herotext h1 {

  margin: 0;
  padding: 0;
  font-size: 35px;
  




}


.herotext p {

  margin: 0px;
  padding: 0px;
 


}





.herotext button {

  display: inline-block;

  align-self: flex-start;
  /* prevents stretching */
  width: 100px;


  background-color: #3882F6;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
  border-style: none;



}



button:hover {
  background-color: #3274de;
}


.heroimg {
  display: flex;
  background-color: #303a4a;

  flex: 1;
  /* take up remaing space*/

  width: 500px;
  height: auto;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: auto;




}




/* Hero Banner Ends*/








/* Cards Container*/


.cardmain {

  background-color: #ffffff;
  padding: 60px 0;
  text-align: center;
  

}





.cardcontainer {



 display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px; /* THIS replaces margins */
  padding: 25px;




}





.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px; /* predictable card size */
  text-align: center;



}



.cardimg {
 
  
    width: 140px;
  height: 140px;
  padding: 25px;
  border-radius: 12px;
  border: 3px solid #3882F6;
  box-sizing: border-box;




}


.cardmain h1 {
  margin: 0 0 16px 0;
=

}

.cardmain p {
  margin: 8px 0 0;
  font-size: 16px;
  color: #000;
}

/* Cards Container Ends*/



































/* Footer*/


footer {

  margin: 0 auto;
  padding: 25px;
  text-align: center;
  color: #E5E7EB;
  background-color: #1F2937;

  font-size: 11px;
  font-weight: 300;





}